
/*Home Styling*/
#nav-font {
    font-weight:bolder;
    font-size: 0.8em;
}

#logo-next span {
   background-color:black;
   border-radius: 4px;
   padding:23px 10px;
}

#logo-prev span {
   background-color:black;
   border-radius: 4px;
   padding:23px 10px;
}

#home-background {
    background-color:#FFFF00;
    background-size: cover;
    height:300px;
}
    
#main-album {
    max-width: 150px;
}


/*Gallery Styling*/

.card-text {
    color:white;
    font-weight:bolder;
    font-size:24px;
}


.gallery-left {
    background-position:cover;
    background-image:url("images/background.gif");
}