.red {
    background-color: red;
}

.green {
    background-color: green;
}

/*Updated Index*/

#navlogo {
   filter: invert(1);
}
.navnew li a {
    color: white;
}

.navnew li {
    text-decoration: none;
    list-style: none;
    padding-top: 12pt;
    margin: 5pt;
    font-size: 7pt;
    font-weight: bold;
}

.navright ul {
    position: relative;
    right: 20pt;
}

.navleft ul {
    position: relative;
    left: 10pt;
}

.fontnew {
    color:white;
    font-size: 7pt;
}

#videobg {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 120%;
}

@media (min-aspect-ratio: 16/9) {
    #videobg {
        width: 100%;
        height: auto;
    }
}

@media (min-aspect-ratio: 16/9) {
    #videobg {
        width: auto;
        height: 100%;
    }
}

/*edit size*/
@media (max-width: 200px) {
    #videobg {
        display: none;
    }
    body {
        background: url("");
        background-size: cover;
    }
}



/*Home Styling*/

.main-font {
    font-size: 0.8em;
    font-family: 'IBM Plex Sans', sans-serif;
}

.topnav {
    padding: 0pt;
    padding-left: 1pt;
    border-bottom: solid 1pt black;
}

.topnav ul {
    align-items: stretch;
    position: absolute;
    left: 150pt;
}

.topnav ul li:hover {
    background-color: grey;
    border-radius: 20px;
    text-decoration: underline;
}

#logo-next span {
    background-color: black;
    border-radius: 4px;
    padding: 23px 10px;
}

#logo-prev span {
    background-color: black;
    border-radius: 4px;
    padding: 23px 10px;
}

#home-background {
    background-color: #FFFF00;
    background-size: cover;
    height: 300px;
}

#main-album {
    max-width: 150px;
}

.main2 {
    background-image: url("images/image2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: #0F0F0F;
    background-size: cover;
    height: 300px;
}

/*Gallery Styling*/

.card-text {
    color: white;
    font-weight: bolder;
    font-size: 24px;
}


.gallery-left {
    background-position: cover;
    background-image: url("images/background.gif");
}

/*History Styling*/

.timeline {
    background-color: #1d2124;
    padding-top: 20pt;
}

.main-timeline {
    overflow: hidden;
    position: relative;
}

.main-timeline .timeline {
    position: relative;
}

.main-timeline .timeline:before,

.main-timeline .timeline:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline .timeline:before {
    content: "";
    width: 15px;
    height: 100%;
    background: #f4a24c;
    margin: 0 auto;
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
}

.main-timeline .timeline:first-child:before {
    height: 50%;
    border-radius: 10px 10px 0 0;
    top: 0;
}

.main-timeline .timeline:last-child:before {
    height: 150%;
    border-radius: 0 0 10px 10px;
}

.main-timeline .timeline-icon {
    display: block;
    width: 130px;
    height: 130px;
    line-height: 105px;
    border-radius: 50%;
    background: #1d2124;
    border: 12px solid #f4a24c;
    margin: auto;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.main-timeline .timeline-icon:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid #f4a24c;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin: auto 0;
    position: absolute;
    top: 0;
    left: -33px;
    bottom: 0;
}

.main-timeline .timeline-content {
    width: 50%;
    padding-right: 100px;
}

.main-timeline .icon {
    float: left;
    margin-right: 15px;
    font-size: 70px;
    color: #f4a24c;
}

.main-timeline .description {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin: 0;
}

.main-timeline .year {
    width: 50%;
    padding-left: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.main-timeline .year span {
    display: inline-block;
    padding: 12px 25px 12px 25px;
    background: #f4a24c;
    border-radius: 0 50px 50px 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 36px;
    color: #fff;
}

.main-timeline .timeline:nth-child(2n) .timeline-icon:before {
    border-right: none;
    border-left: 15px solid #f26f77;
    left: auto;
    right: -33px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    float: right;
    padding: 0 0 0 100px;
}

.main-timeline .timeline:nth-child(2n) .description {
    padding-left: 20px;
}

.main-timeline .timeline:nth-child(2n) .year {
    padding: 0 50px 0 0;
    text-align: right;
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(2n) .year span {
    border-radius: 50px 0 0 50px;
}

.main-timeline .timeline:nth-child(2n) .timeline-icon {
    border-color: #f26f77;
}

.main-timeline .timeline:nth-child(2n) .icon {
    color: #f26f77;
}

.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .year span {
    background: #f26f77;
}

.main-timeline .timeline:nth-child(3n) .timeline-icon {
    border-color: #13a3b5;
}

.main-timeline .timeline:nth-child(3n) .timeline-icon:before {
    border-right-color: #13a3b5;
}

.main-timeline .timeline:nth-child(3n) .icon {
    color: #13a3b5;
}

.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .year span {
    background: #13a3b5;
}

.main-timeline .timeline:nth-child(4n) .timeline-icon {
    border-color: #a6d050;
}

.main-timeline .timeline:nth-child(4n) .timeline-icon:before {
    border-left-color: #a6d050;
}

.main-timeline .timeline:nth-child(4n) .icon {
    color: #a6d050;
}

.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .year span {
    background: #a6d050;
}

@media only screen and (max-width: 767px) {
    .main-timeline .timeline {
        padding-top: 95px;
        margin-top: 150px;
        margin-bottom: 50px;
    }
    .main-timeline .timeline:first-child {
        margin-top: 135px;
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before {
        width: 100%;
        height: 15px;
        border-radius: 10px;
        margin: 0;
        top: 0;
    }
    .main-timeline .timeline-icon {
        margin: 0 auto;
        top: -65px;
    }
    .main-timeline .timeline-icon:before,
    .main-timeline .timeline:nth-child(2n) .timeline-icon:before,
    .main-timeline .timeline:nth-child(3n) .timeline-icon:before {
        border: 10px solid transparent;
        border-top: 15px solid #f4a24c;
        margin: 0 auto;
        position: absolute;
        top: auto;
        left: 0;
        bottom: -43px;
        right: 0;
    }
    .main-timeline .timeline:nth-child(2n) .timeline-icon:before {
        border-top-color: #f26f77;
    }
    .main-timeline .timeline:nth-child(3n) .timeline-icon:before {
        border-top-color: #149cad;
    }
    .main-timeline .timeline:nth-child(4n) .timeline-icon:before {
        border-top-color: #a6d050;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 100%;
        padding: 0;
        float: none;
    }
    .main-timeline .timeline:nth-child(2n) .description {
        padding: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year {
        width: 100%;
        padding: 0;
        text-align: center;
        position: absolute;
        top: -135px;
        right: 0;
        transform: translateY(0);
    }
    .main-timeline .year span,
    .main-timeline .timeline:nth-child(2n) .year span {
        border-radius: 50px;
    }
}

/*Music Styling*/

body {
    font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
}

#timeline {
    display: flex;
    background-color: #031625;
}

#timeline:hover .tl-item {
    width: 23.3333%;
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
}

.tl-item:before,
.tl-item:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tl-item:hover {
    width: 30% !important;
}

.tl-item:hover:after {
    opacity: 0;
}

.tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
    filter: grayscale(0);
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
}

.tl-content h1 {
    font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.44rem;
    font-weight: normal;
}

.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.tl-year p {
    font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.728rem;
    line-height: 0;
    padding-top: 0.9rem;
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}
