
/*Home Styling*/
.main-font {
    font-size: 0.8em;
    font-family: 'IBM Plex Sans', sans-serif;
}

#logo-next span {
   background-color:black;
   border-radius: 4px;
   padding:23px 10px;
}

#logo-prev span {
   background-color:black;
   border-radius: 4px;
   padding:23px 10px;
}

#home-background {
    background-color:#FFFF00;
    background-size: cover;
    height:300px;
}
    
#main-album {
    max-width: 150px;
}

.main2 {
    /*background-image: url("images/image2.jpg");*/
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color:#0F0F0F;
    background-size: cover;
    height:300px;
}

/*Gallery Styling*/

.card-text {
    color:white;
    font-weight:bolder;
    font-size:24px;
}


.gallery-left {
    background-position:cover;
    background-image:url("images/background.gif");
}